/* Float Clearing
 ---------------------------------------------------------------------*/

.moduleBC:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .moduleBC
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .moduleBC
{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb {
    background: none repeat scroll 0 0 #666;
    display: block;
    float: left;
    height: 41px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
}
.breadCrumb ul
{
	margin: 0;
	padding: 10px !important;
	height: 21px;
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(modules/workflow/themes/breadcrumb/images/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	display: block;
	position: relative;
	height: 21px;
	line-height: 20px;
	overflow: hidden;
	float: left;
	color: #fff;
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(modules/workflow/themes/breadcrumb/images/IconHome.gif) no-repeat 0 -16px;
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 0;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}
.breadCrumb ul li.current a {
    /*color: #FFA500;*/
    color: #fff;
    font-weight: bold;
}
.chevronOverlay
{
	display: none;
	background: url(modules/workflow/themes/breadcrumb/images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}
