.primary-font{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.hidden{display:none;}
.block{display:block;}
.inline-block{display:inline-block;}
.inline{display:inline;}
.table{display:table;}
.table-cell{display:table-cell;}
.float-left{float:left;}
.float-right{float:right;}
.clear{clear:both;}
.clearfix{display:block;zoom:1;}.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.uppercase{text-transform:uppercase;}
.bold{font-weight:bold;}
.background-clip-padding{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.pointer{cursor:pointer;}
.page-my-info-component .heading{text-transform:uppercase;font-size:0.9em;font-weight:bold;}
.page-my-info-component .title{margin-bottom:5px;}
.page-my-info-component .account-info{font-size:0.9em;margin-bottom:0;}
.page-my-info-component .well{margin-bottom:20px;}
.page-my-info-component .billing-section{padding-bottom:0px;border-right:1px solid #dddddd;}.page-my-info-component .billing-section.balance{border:none;}
.page-my-info-component .progress-label-container{font-size:0.8em;}
@media screen and (max-width:720px){.page-my-info-component .billing-section.adjustments,.page-my-info-component .billing-section.payments{display:none;} .page-my-info-component .billing-section.col-1-4{width:50%;}}@media screen and (max-width:480px){.page-my-info-component .billing-section{border-right:none;} .page-my-info-component .billing-section.last-bill{display:none;} .page-my-info-component .data{text-align:center;font-size:48px;line-height:1em;} .page-my-info-component .billing-section.col-1-4{width:100%;} .page-my-info-component .progress-section.col-1-1{padding-bottom:0;}}
