<div>
    <div class="menu-toggle" data-side-nav="burger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
	<div class="back-icon hidden back"><img src="images/page/back-arrow.svg" /></div>
	<div class="page-title">
        <% if (getIcon() !== "") { %>
		<img class="icon" src="<%= getIcon() %>" />
        <% } %>
        <% if (getTitle() !== "") { %>
		<div class="title"><%= getTitle() %></div>
        <% } %>
        <% if (isOffline() === true) { %>
        <% if (getCacheInfo() !== "") { %>
            <div class="cacheData"><span><%= getCacheInfo() %></span></div>
        <% } else { %>
            <div class="cacheData"><span><%= i18n.get('offlineText') %></span></div>
        <% } %>
        <% } %>
	</div>
	<button class="header-done">Done</button>
</div>