<div id="wifisetup">
    <div class="well">
        <strong><%= i18n.get('profileHeader') %></strong>
        <div class="blank-separator"></div>
        <p><%= i18n.get('downloadInstructions') %></p>
        <div class="blank-separator"></div>
        <p><%= i18n.get('continueInstructions') %></p>
    </div>
    <button class="button btn btn-inline" id="profile"><%= i18n.get('downloadBtn') %></button>
    <div class="blank-separator medium"></div>
    <button class="button btn btn-inline" id="continue"><%= i18n.get('continueBtn') %></button>
</div>