<div class="device-detail 2Wire 2701HG-G" style="display: none; margin-left: 20px; margin-top: 10px">
	<div id="device-info">2Wire 2701</div>
	<img src="<%= i18n.get('2wire_2701_Image') %>"/>
	<p>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_connect_my_2wire_2701_modem" target="_blank">How to connect my 2Wire 2701 modem</a></div>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_reboot_my_2wire_2701_modem" target="_blank">How to reboot my 2Wire 2701 modem</a></div>
	</p>
</div>
<div class="device-detail SpeedStream 4200" style="display: none; margin-left: 20px; margin-top: 10px">
	<div id="device-info">SpeedStream 4200</div>
	<img src="<%= i18n.get('SpeedStream_4200_Image') %>"/>
	<p>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_connect_my_2wire_2701_modem" target="_blank">How to connect my 2Wire 2701 modem</a></div>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_reboot_my_2wire_2701_modem" target="_blank">How to reboot my 2Wire 2701 modem</a></div>
	</p>
</div>
<div class="device-detail SpeedStream 5200" style="display: none; margin-left: 20px; margin-top: 10px">
	<div id="device-info">SpeedStream 5200</div>
	<img src="<%= i18n.get('SpeedStream_5200_Image') %>"/>
	<p>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_connect_my_2wire_2701_modem" target="_blank">How to connect my 2Wire 2701 modem</a></div>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_reboot_my_2wire_2701_modem" target="_blank">How to reboot my 2Wire 2701 modem</a></div>
	</p>
</div>
<div class="device-detail SpeedStream 6300" style="display: none; margin-left: 20px; margin-top: 10px">
	<div id="device-info">SpeedStream 6300</div>
	<img src="<%= i18n.get('SpeedStream_6300_Image') %>"/>
	<p>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_connect_my_2wire_2701_modem" target="_blank">How to connect my 2Wire 2701 modem</a></div>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_reboot_my_2wire_2701_modem" target="_blank">How to reboot my 2Wire 2701 modem</a></div>
	</p>
</div>
<div class="device-detail SpeedStream 6520" style="display: none; margin-left: 20px; margin-top: 10px">
	<div id="device-info">SpeedStream 6520</div>
	<img src="<%= i18n.get('SpeedStream_6520_Image') %>"/>
	<p>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_connect_my_2wire_2701_modem" target="_blank">How to connect my 2Wire 2701 modem</a></div>
		<div><a href="http://support.bell.ca/Internet/Connection-help/2Wire-2701-modem.how_to_reboot_my_2wire_2701_modem" target="_blank">How to reboot my 2Wire 2701 modem</a></div>
	</p>
</div>
<div class="device-detail notfound" style="display: none">
	<p>We were unable to locate information about your connected device</p>
	<p>
		<a href="<%= i18n.get('serviceStatusHref') %>" target="_blank"><%= i18n.get('serviceStatus') %></a><br/>
		<a href="<%= i18n.get('modemSupportHref') %>" target="_blank"><%= i18n.get('modemSupport') %></a><br/>
		<a href="<%= i18n.get('speedCheckupHref') %>" target="_blank"><%= i18n.get('speedCheckup') %></a><br/>
		<a href="<%= i18n.get('resetAccessPasswordHref') %>" target="_blank"><%= i18n.get('resetAccessPassword') %></a><br/>
		<a href="<%= i18n.get('resetAdminPasswordHref') %>" target="_blank"><%= i18n.get('resetAdminPassword') %></a><br/>
		<a href="<%= i18n.get('setup2wireHref') %>" target="_blank"><%= i18n.get('setup2wire') %></a><br/>
		<a href="<%= i18n.get('wirelessName2wireHref') %>" target="_blank"><%= i18n.get('wirelessName2wire') %></a><br/>
		<a href="<%= i18n.get('setupSpeedStream6520Href') %>" target="_blank"><%= i18n.get('setupSpeedStream6520') %></a><br/>
		<a href="<%= i18n.get('wirelessSpeedStream6520Href') %>" target="_blank"><%= i18n.get('wirelessSpeedStream6520') %></a><br/>
		<a href="<%= i18n.get('mobilityWifiHref') %>" target="_blank"><%= i18n.get('mobilityWifi') %></a><br/>
	</p>
</div>